<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/heartbeat_components.css' />
  </head>
  <body>
  <nav class="navbar navbar-default navbar-fixed-top main-header">
      <div class="container pull-left">
  <h1>HeartBe<i class='fa fa-heartbeat' style='color:#e57373 ;'></i>t &nbsp;&nbsp;
  <button type="button" class="btn btn-default navbar-btn">Dashboard</button>
  <button type="button" class="btn btn-default navbar-btn">Devices</button>
  <button type="button" class="btn btn-default navbar-btn">Settings</button>
  <a href="/logout"><button type="button" class="btn btn-default navbar-btn">Sign Out</button></a>
  </h1>
  </div>
  </nav>
  <div class='container'>
    
  </div>

  <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
  </body>
</html>
