body{
	background-color:#F8F8FF;	
}

.center-form
{
	left:20%;
	top:120px;
}
.form-control
{
	margin-top:8px;
}

.checkbox{
	margin-top:8px;
}
.label{
	font-size:small;
	margin-left:5%;
}
.error{
	color:#ff5252;
	text-align: center;
	margin-left:23%;
}
.main-header{
	background-color:#BDC3CF;
}

.live-terminal{
	width:100%;
	overflow-y: scroll;
}